<div class="title">
  <h2>検索結果</h2>
</div>

  <% if @model == 'user' %>
    <%= render 'public/users/index', users: @records %>

  <% elsif @model == 'post' %>
    <%= render 'public/posts/index', posts: @records %>

  <% elsif @model == 'group' %>
    <%= render 'public/groups/index', groups: @records %>
  <% end %>
