<div class="main-visual">
  <div class="main-visual-content">
    <h1>旅行の計画を探せる</h1>
    <p>このサイトでは、自身のしおりを作成、<br>
      また、他ユーザーのしおりを確認できます。<br>
      計画を立てるのが苦手な方も参考に！</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="btn-wrapper col-lg-6 mx-auto">
      <div class="row">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
      <div class="row">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</div>
