@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom:1px solid #005FFF;
}

.img {
  clip-path: circle(35%);
}

.main-title {
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-bottom:1px solid #005FFF;
  color: #005FFF;
}

.main-visual-text-area {
  border:1px solid #005FFF;
  margin-top: 50px;
  position: relative;
  background-color: #FFFFF0;
  border-radius: 50%;
}

.main-visual-image {
  width: 100%;
  height: 400px;
  background-image: url('../images/notepad-1130743_640.jpg');
  background-repeat:no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: darken;
  background-size: 100% 770px;
}

.main-visual-text {
  color: #4689FF;
  font-size: 16px;
  padding-top: 100px;
  text-align: center;
  line-height: 2.0;
}

.form-area {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #4689FF;

}

body {
  background-color: #FFFFF0;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card-text {
  text-align: center;
}

.bookmark {
  text-align: right;
}

.title {
  position: relative;
  text-align: center;
  padding: 20px;
}

.title:before {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 27px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #AAAAAA;
}

.user-info {
  padding: 15px;
  text-align: center;
}

.post-form {
  text-align: center;
  padding: 10px;
}

.post-content {
  padding: 20px;
}

.post-info {
  text-align: right;
  padding-right: 60px;
}

.post-area {
  margin-top: 30px;
}

.post-area h4{
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #AAAAAA;
}

.post-area p {
  text-align: left;
}

li {
  list-style: none;
}

.comment-button {
  margin-top: 30px;
}

.comment {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #EEEEEE;
  border-radius: 30px;
}

.comment::before {
  position: absolute;
  content: "";
  left: -38px;
  width: 13px;
  height: 12px;
  top: 0;
  background: #EEEEEE;
  border-radius: 50%;
}

.comment::after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  top: 3px;
  background: #EEEEEE;
  border-radius: 50%;
}

.comment-text {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 170px);
  margin-top: 20px;
  margin-bottom: 20px;
}

