<div>
  <%= image_tag @user.get_profile_image(50,50) %>
  <h4><%= @user.name %></h4>
</div>

<% @posts.each do |post| %>
<div class="container">
  <ul class="card">
    <li class="item">
      <p><%= post.title %></p>
      <%= link_to "詳細", post_path(post.id), class: "btn" %>
    </li>
  </ul>
</div>
<% end %>




