<% users.each do |user| %>
  <div class="container">
    <ul class="card">
      <li class="item">
        <p><%= user.name %></p>
        <%= link_to "詳細", user_path(user.id), class: "btn" %>
      </li>
    </ul>
  </div>
<% end %>