<div class="d-flex align-items-center justify-content-center, flex-column">
  <div class="user-info">
    <%= image_tag @user.get_profile_image(200,200), class: "rounded-circle" %>
    <h2><%= @user.name %></h2>
    <% if @user ==current_user %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary" %></p>
    <% end %>
  </div>
</div>

<%= render 'public/posts/index', posts: @posts %>







